absl-py==2.3.1
accelerate==0.29.3
aioboto3
aiobotocore
aiofiles
aiohappyeyeballs
aiohttp==3.8.4
aioitertools
aiosignal
annotated-types==0.6.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
Babel==2.14.0
backoff==2.2.1
backports.zstd
beautifulsoup4==4.12.3
bitsandbytes==0.43.1
bleach==6.1.0
boto3
botocore
Brotli
certifi==2023.5.7
cffi
chardet==5.2.0
charset-normalizer==3.1.0
chess==1.10.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
coptpy==7.2.5
cryptography
cycler==0.12.1
dataclasses-json==0.6.7
DataProperty==1.1.0
datasets==4.4.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
et_xmlfile==2.0.0
evaluate==0.4.6
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.110.2
fastjsonschema==2.19.1
filelock==3.13.4
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2024.3.1
greenlet==3.2.4
gurobipy==12.0.1
h11==0.14.0
h2
hf-xet==1.2.0
hpack
httpcore==1.0.5
httpx==0.27.0
httpx-sse==0.4.3
huggingface-hub==0.22.2
hyperframe
idna
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipykernel==6.29.4
ipython==8.18.1
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.11.1
jmespath
joblib==1.5.2
json5==0.9.25
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.26.0
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
langchain==1.0.8
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.0.7
langchain-openai==1.0.2
langchain-text-splitters==1.0.0
langgraph==1.0.2
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.41
lm_eval==0.4.9.2
lxml==6.0.2
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mbstrdecoder==1.1.4
mistune==3.0.2
more-itertools==10.8.0
mpmath==1.3.0
multidict
multiprocess==0.70.18
mypy_extensions==1.1.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.2
notebook==7.1.3
notebook_shim==0.2.4
numexpr==2.14.1
numpy==1.24.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.1.105
ollama==0.6.1
openai==2.7.1
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.11.4
ormsgpack==1.12.0
overrides==7.7.0
packaging==24.0
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pathvalidate==3.3.1
peft==0.18.0
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.0
playwright==1.57.0
portalocker==3.2.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
propcache
protobuf==5.26.1
proxyproviders==0.2.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==22.0.0
pybind11==3.0.1
pycparser
pydantic==2.12.5
pydantic-settings==2.11.0
pydantic_core==2.41.5
pydot==2.0.0
pyee==13.0.0
pyformlang==1.0.10
Pygments==2.17.2
pyparsing==3.1.2
PySocks
pytablewriter==1.2.1
python-chess==1.999
python-dateutil
python-dotenv==1.2.1
python-json-logger==2.0.7
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.34.0
regex==2024.4.16
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rouge_score==0.1.2
rpds-py==0.18.0
s3transfer
sacrebleu==2.5.1
safetensors==0.4.3
scikit-learn==1.7.2
scipy==1.13.0
seaborn==0.13.2
Send2Trash==1.8.3
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.44
sqlitedict==2.1.0
stack-data==0.6.3
starlette==0.37.2
sympy==1.12
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
TikTokApi==7.2.1
tiktoken==0.12.0
tinycss2==1.2.1
tokenizers==0.19.1
tomli==2.0.1
torch==2.2.2
tornado==6.4
tqdm==4.65.0
tqdm-multiprocess==0.0.11
traitlets==5.14.3
transformers==4.40.1
triton==2.2.0
typepy==1.3.4
typer-slim==0.20.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions
tzdata==2024.1
uri-template==1.3.0
urllib3==2.0.2
uvicorn==0.29.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.10
word2number==1.1
wrapt
xformers==0.0.25.post1
xxhash==3.6.0
yarl
zipp==3.18.1
zstandard==0.25.0
